



<div class="row marketing">
  <h1>Welcome to SparqlMap</h1>
  <p>
    SparqlMap is a RDB2RDF mapping tool that allows you to expose your data as:
    <ul>
      <li>SPAQL enpoints and</li>
      <li>Linked Data.</li>
    </ul>


  </p>

  <h4>R2RML</h4>
  <p>
    Is the spec for mapping relational databases into RDF. With SparqlMap you can use it to map CSV as well.
  </p>

  <h4>SPARQL</h4>
  <p>We support SPARQL 1.0 and a subset of SPARQL 1.1.</p>
</div>

<div class="footer">
  <p>SparqlMap by AKSW</p>
</div>
